@import "../../styles/utils/variables";
@import "../../styles/shared/text";

.your-links {
  background-color: $white;
  position: relative;
  height: 100%;

  &__content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
  }

  &__links {
    display: flex;
    flex-direction: column;
    gap: 2.4rem;

    & > div {
      background-color: $almost-white;
      border-radius: $border-radius-main;

      width: 100%;
      // height: 22.8rem;
      padding: 2rem;
      display: flex;
      flex-direction: column;
      gap: 1.2rem;

      label {
        color: $dark-gray;
      }

      input {
        color: $dark-gray;
      }
    }
  }

  &__link-header {
    height: 2.4rem;
    display: flex;
    justify-content: space-between;

    span {
      @extend %body-medium;

      color: $medium-gray;

      font-weight: bold;
      display: flex;
      align-items: center;
      gap: 0.8rem;
    }

    button {
      @extend %body-medium;

      width: fit-content;
      height: auto;

      &:hover {
        background-color: transparent;
      }
    }
  }
}
