$font-instrument-sans: "--font-instrument-sans";
$font-instrument-sans-condensed: "Instrument Sans Condensed";
$font-instrument-sans-semicondensed: "Instrument Sans SemiCondensed";

$primary-color: hsl(252, 100%, 62%);
$secondary-color: hsl(252, 100%, 84%);
$tertiary-color: hsl(252, 100%, 96%);
$dark-gray: hsl(0, 0%, 20%);
$medium-gray: hsl(0, 0%, 45%);
$light-gray: hsl(0, 0%, 85%);
$almost-white: hsl(0, 0%, 98%);
$black: hsl(0, 0%, 0%);
$white: hsl(0, 0%, 100%);
$red: hsl(0, 100%, 61%);
